/* common template */ 
html,body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	text-align: center;
	color: #555555;
}

div#container {
	margin: 0 auto;
	width: 1000px;
	background: url('/ris/150e0e0e0.jpg') repeat-y top left;
	position: relative;
}

div#main {
	text-align: left;
	background: url('/ris/220e0e0e0.jpg') repeat-y top right;
	z-index: 0;
}

div#navbar {
	float: left;
	position: relative;
	width: 15%;
	background-color: #e0e0e0;
	z-index: 9;
	padding: 0;
}

div#header {
	padding: 0;
	padding-left: 20px;
	margin: 0;
	padding-bottom: 30px;
	background: #eee;
}

h1.title {
	font: normal bold 80px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	letter-spacing: -6px;
	color: #555555;
	margin: 0 0 -10px 0;
	padding: 0px;
	text-shadow: -1px 0px 2px rgba(0,0,0,1), 1px 1px 0px rgba(255,255,255,0.7);
}

h1.subtitle {
	font: normal bold 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #555555;
	margin: -20px 0 0 0;
	padding: 0px;
}

div#liltitle {
	padding: 10px 10px;
	text-align: center;
	background-color: #e0e0e0;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	height: 54px;
    vertical-align: middle;
    position: relative;
}

div#content {
	position: relative;
	float: left;
	/*width: 81.8%;
	max-width: 818px;
	z-index: 10;
	padding: 16px;*/
	width: 59%; /*use with rightside*/
	max-width: 590px;
	/*z-index: 10;*/
	padding: 16px;
	display: block;
    word-wrap: break-word;      
}

div#rightside {
	float: right;
	position: relative;
	width: 20%;
	background-color: #e0e0e0;
	z-index: 9;
	padding: 1em 10px;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
}

div#footer {
	clear: both;
	text-align: center;
	font: normal normal 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #b5b5b5;
	padding: 1em;
	background: #eee;
}


/*specific items*/
/*navbar*/

ul.navlist {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	margin:0;
}

ul.navlist li {
	background: #eee;
	/* background: -webkit-gradient(radial,50% 100%,0,50% 100%,140,from(rgba(130,130,130,1)),to(rgba(240,240,240,1))); */
	font-family: Arial;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

ul.navlist li a {
    display: block;
    padding: 20px -0px;
    text-align: center;
    background : #e0e0e0;
    -webkit-transition-property: background;
	-webkit-transition-duration: 500ms;
    -moz-transition-property: background;
    -moz-transition-duration: 500ms;
	text-decoration: none;
	color: #555555;
}

ul.navlist li a:hover {
    background: transparent none;
}

ul.navlist li:hover ul#menu {
	display: block;
}

ul.navlist ul#menu{
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	margin:0;
	position: absolute;
	display: none;
	top:85px;
	left: 150px;
}

ul.navlist ul#menu li {
	background: #eee;
	/* background: -webkit-gradient(radial,50% 100%,0,50% 100%,140,from(rgba(130,130,130,1)),to(rgba(240,240,240,1))); */
	font-family: Arial;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #ccc;
	white-space: nowrap;
}

ul.navlist ul#menu li a {
    display: block;
    padding: 20px 10px;
    text-align: center;
    background : #e0e0e0;
    -webkit-transition-property: background;
	-webkit-transition-duration: 500ms;
    -moz-transition-property: background;
    -moz-transition-duration: 500ms;
	text-decoration: none;
	color: #555555;
}

ul.navlist ul#menu li a:hover { 
	background: transparent none;
}
 
ul.navlist li.active a{
    background: transparent none;
}

/*liltitle*/

#liltitle div#title {
	width:58%;
	float:left;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -290px;
	margin-top: -10px;
}

#liltitle div#welcome {
	width:20.5%;
	float: right;
}

#liltitle div#date {
	width:20.5%;
	float: left;
}
/*pos*/

.right {
	text-align: right;
	float: right;
}

.left {
	text-align: left;
	float: left;
	
}

.center {
	text-align: center;
}

.readonly {
	background-color: #ccc;
	color: #777;
}

/*registration*/


form.reg {
	width: 590px;
}

form.reg input {
/*	float: left;
	width: 300px;
	margin-left: 130px;*/
	width: 350px;
}

form.reg select {
	width: 354px;
}

form.reg label {
	width:566px;
    float: left;
    text-align: right;
}

.error {
	background: #b00;
	font: 12px monospace;
	padding: 5px;
	color: #000;
}

.success {
	background: #0a0;
	font: 12px monospace;
	padding: 5px;
	color: #000;
}

.obbl {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

/*creaconto*/
form.creaconto {
	width: 590px;
}

form.creaconto input {
/*	float: left;
	width: 300px;
	margin-left: 130px;*/
	width: 350px;
}

form.creaconto select {
	width: 354px;
}

form.creaconto label {
	width:566px;
    float: left;
    text-align: right;
}

form.creaconto label#hoverpopup div {
	display: none;
	position: absolute;
	margin-top: 0px;
	margin-left: 212px;
	background-color: #ffa;
	border-style: dashed;
	border-width: 1px;
	border-color: #aaa;
	width: 350px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: monospace;
}

form.creaconto label#hoverpopup:hover div {
	display: block;

}

/*insspesa*/
form.insspesa {
	width: 590px;
}

form.insspesa input {
/*	float: left;
	width: 300px;
	margin-left: 130px;*/
	width: 350px;
}

form.insspesa select {
	width: 354px;
}

form.insspesa label {
	width:566px;
    float: left;
    text-align: right;
}

form.insspesa label#hoverpopupn1 + div {
	display: none;
	position: absolute;
	margin-top: 56px;
	margin-left: 212px;
	background-color: #ffa;
	border-style: dashed;
	border-width: 1px;
	border-color: #aaa;
	width: 350px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: monospace;
}


form.insspesa label#hoverpopupn1:hover + div {
	display: block;

}

/*tables*/

td.missinginfo {
	text-align: center;
	font-style: italic;
}

table.bpezzilim818 {
	max-width: 590px;
	width: 590px;
	text-align: right;
	vertical-align: middle;
	padding: 3px;
	border-width: 1px;
	border-spacing: 2px;
	border-style: dashed;
	border-color: #aaa;
	border-collapse: collapse;

}

tr.tabtrdual:nth-child(odd){ 
	background-color:#eee; 
}
tr.tabtrdual:nth-child(even){ 
	background-color:#e0e0e0; 
}

td.tabtd {
	border-width: 1px;
	padding: 1px;
	border-style: dashed;
	border-color: gray;
	width: auto;
	max-width: 1%;
	white-space: nowrap;
    overflow: hidden;
}

th.tabheader {
	border-width: 1px;
	width: auto;
	padding: 1px;
	border-style: dashed;
	border-color: gray;
	max-width: 1%;
	white-space: nowrap;
    overflow: hidden;
    background-color: #aaa;
    text-align: center;
}

td.cred {
	color: #050;
	font-family: monospace;
}


td.deb {
	color: #500;
	font-family: monospace;
}

td.debbil {
	color: #500;
	font-family: monospace;
}

tr.rep {
	background-color: #aaa;
}

/*form*/
.ifYes {
	display: none;
}

/*rapptable*/

table.rapp tr td {
	border: 1px solid #000;
	padding: 5px;
}

table.rapp tr td td {
	border: none;
	padding: 0;
}